<?xml version="1.0" encoding="UTF-8"?> 
<java version="1.6.0_06" class="java.beans.XMLDecoder"> 
 <object class="net.sf.javadc.config.Settings"> 
  <void property="advancedSettings"> 
   <object class="net.sf.javadc.config.AdvancedSettings"> 
    <void property="XLocation"> 
     <int>-4</int> 
    </void> 
    <void property="XSize"> 
     <int>1928</int> 
    </void> 
    <void property="YLocation"> 
     <int>-4</int> 
    </void> 
    <void property="YSize"> 
     <int>1177</int> 
    </void> 
    <void property="hublistAddress"> 
     <string>http://www.hublist.org/FullHubList.config.bz2</string> 
    </void> 
   </object> 
  </void> 
  <void property="downloadSlots"> 
   <int>10</int> 
  </void> 
  <void property="guiSettings"> 
   <object class="net.sf.javadc.config.GuiSettings"> 
    <void property="lookAndFeel"> 
     <string>Plastic XP</string> 
    </void> 
    <void property="plasticHighContrastFocusEnabled"> 
     <boolean>true</boolean> 
    </void> 
    <void property="plasticTabStyle"> 
     <string>metal</string> 
    </void> 
    <void property="popupDropShadowEnabled"> 
     <boolean>true</boolean> 
    </void> 
    <void property="theme"> 
     <string>Sky Bluer - Tahoma</string> 
    </void> 
    <void property="useSystemFonts"> 
     <boolean>true</boolean> 
    </void> 
   </object> 
  </void> 
  <void property="uploadDirs"> 
   <object class="java.util.ArrayList"/> 
  </void> 
  <void property="uploadSlots"> 
   <int>10</int> 
  </void> 
  <void property="userInfo"> 
   <object class="net.sf.javadc.config.UserInfo"> 
    <void property="description"> 
     <string>Place your description here.</string> 
    </void> 
    <void property="email"> 
     <string>a@b.com</string> 
    </void> 
    <void property="nick"> 
     <string>JohnDoe</string> 
    </void> 
    <void property="port"> 
     <int>5100</int> 
    </void> 
   </object> 
  </void> 
 </object> 
</java> 
